<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mechinn.android.ouralliance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application android:icon="@drawable/frc" android:label="@string/app_name" >
        <activity android:screenOrientation="landscape" android:name=".activity.OurAlliance" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name=".activity.Teams" android:label="@string/teams">
            <intent-filter>
                <action android:name="com.mechinn.android.ouralliance.OpenTeams"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name=".activity.Settings" android:label="@string/settings">
            <intent-filter>
                <action android:name="com.mechinn.android.ouralliance.OpenSettings"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name=".activity.Info" android:label="@string/teamInfo">
            <intent-filter>
                <action android:name="com.mechinn.android.ouralliance.OpenTeamInfo"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MatchList" android:screenOrientation="landscape" android:label="@string/matchList">
            <intent-filter>
                <action android:name="com.mechinn.android.ouralliance.OpenMatches"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name=".activity.TeamRankings" android:label="@string/teamRankings">
            <intent-filter>
                <action android:name="com.mechinn.android.ouralliance.OpenTeamRankings"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.scouting.MatchScouting" android:screenOrientation="landscape" android:label="@string/matchScouting">
            <intent-filter>
                <action android:name="com.mechinn.android.ouralliance.OpenScouting"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider android:name=".providers.TeamScoutingProvider" android:authorities="com.mechinn.android.ouralliance.providers.TeamScoutingProvider" android:exported="true"></provider>
        <provider android:name=".providers.MatchScoutingProvider" android:authorities="com.mechinn.android.ouralliance.providers.MatchScoutingProvider" android:exported="true"></provider>
        <provider android:name=".providers.MatchListProvider" android:authorities="com.mechinn.android.ouralliance.providers.MatchListProvider" android:exported="true"></provider>
        <provider android:name=".providers.TeamRankingsProvider" android:authorities="com.mechinn.android.ouralliance.providers.TeamRankingsProvider" android:exported="true"></provider>
    </application>
</manifest>