<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mechinn.android.ouralliance"
    android:versionCode="11"
    android:versionName="2013.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.TeamListActivity" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            </intent-filter>
        </activity>
        <!-- <activity
            android:name=".view.StartupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".view.TeamListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name=".view.TeamDetailActivity"
            android:label="@string/title_team_detail"
            android:parentActivityName=".view.TeamListActivity" >
        </activity>
        <activity android:name=".view.SettingsActivity"
            android:label="@string/title_team_detail"
            android:parentActivityName=".view.SettingsActivity">
        </activity>
        <provider 
            android:name=".provider.DataProvider"
            android:authorities="com.mechinn.android.ouralliance.data"
            android:logo="@drawable/ic_launcher"
            android:icon="@drawable/ic_launcher"
            android:label="@string/provider_name"
            android:enabled="true"
            android:multiprocess="true"
            android:exported="false">
        </provider>
    </application>

</manifest>