<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mechinn.android.ouralliance"
    android:versionCode="16"
    android:versionName="2014.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
            android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
            android:name="android.permission.CAMERA" />

    <uses-feature
            android:name="android.hardware.camera" android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.flash" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
                android:name="com.mechinn.android.ouralliance.view.TeamScoutingActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action
                        android:name="android.intent.action.MAIN" />
                <category
                        android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.mechinn.android.ouralliance.view.MatchScoutingActivity"
                android:label="@string/matches">
        </activity>
        <activity
                android:name="com.mechinn.android.ouralliance.view.SettingsActivity"
                android:label="@string/settings">
        </activity>
        <provider
                android:name="com.mechinn.android.ouralliance.provider.DataProvider"
                android:authorities="com.mechinn.android.ouralliance.data"
                android:enabled="true"
                android:exported="false"
                android:icon="@drawable/ic_launcher"
                android:label="@string/provider_name"
                android:logo="@drawable/ic_launcher"
                android:multiprocess="true" >
        </provider>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="b0d52c1a1854fa2c1171de35d312d751fb817acd"/>
    </application>

</manifest>
