<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mechinn.android.ouralliance" >

    <uses-sdk
        android:minSdkVersion="14" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission-->
        <!--android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <uses-permission
        android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.mechinn.android.ouralliance.OurAlliance"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
                android:name="com.mechinn.android.ouralliance.activity.TeamScoutingActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action
                        android:name="android.intent.action.MAIN" />
                <category
                        android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.mechinn.android.ouralliance.activity.MatchScoutingActivity"
                android:label="@string/matches">
        </activity>
        <activity
                android:name="com.mechinn.android.ouralliance.activity.SettingsActivity"
                android:label="@string/settings">
        </activity>
        <activity
            android:name="com.mechinn.android.ouralliance.activity.PreferenceActivity"
            android:label="@string/settings">
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="b0d52c1a1854fa2c1171de35d312d751fb817acd"/>
    </application>

</manifest>
